html {
	margin: 0;
	padding: 0;
	}
header {
	background-image: url(headerbg.png);
	color: white;
	text-align: center;
	font-family: Arial, Helvetic, sans-serif;
	padding-top: 5px;
	}
body {
	font-family: Arial, Helvetic, sans-serif;
	background: url(bg.jpg);
	color: white;
	}
a:link {
	color: white;
	}
a:visited {
	color: gray;
	}
.center {
	padding-bottom: 150px;
	padding-right: 150px;
	margin: auto;
	width: 70%;
	background-image: url(headerbg.png);
	}
nav {
	position: absolute;
	background-image: url(headerbg.png);
	width: 12.5%;
	height: 80%;
	padding-left: 15px;
	}
article {
	padding-left: 20px;
	padding-top: 10px;
	height: 80%;
	}
	